---
import Layout from "../components/Layout.astro"
---

<Layout>
  <h1>error 404</h1>
    <div>
      <canvas width="450px" height="200px" id="lienzo"></canvas>
      <script src="../components/canvas.js"></script>
    </div>
</Layout>

<style>
  h1 {
    text-align: center;
    color: rgb(78, 74, 74);
  }
</style>