---
import "../styles.css"

// headers:
//   type: "meta"
//   props:
//     httpEquiv: "refresh"
//     content: "60; URL=http://localhost:4321/blog/"
---

<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Somriure de Galgo">
	  <!-- <meta http-equiv="refresh" content="60; URL=http://localhost:4321/blog/"> -->
	  <title>Somriure de Galgo</title>
	</head>
	<body>
		<div id="maquina-de-escribir">
			<span>Somriure de Galgo</span>
		</div>
		<article style="font-size: large; text-align: justify; margin-left: 7%; margin-right: 7%;">
			<p>Explorant la Bohèmia.</p>
			<p>Us convidem a un viatge emocionant a través dels confins de l’art, la literatura, la música, el cinema i molt més.</p>
			<p>Amb una mirada curiosa, esperit crític i una actitud oberta, us n’oferim un ventall eclèctic d’articles, ressenyes, poesia, i tota una diversitat dels escenaris culturals d’arreu del món.</p>
			<p>Tambè promoció de nous talents i la creació d’una comunitat cultural vibrant. Així que, si teniu una història per compartir, un projecte emocionant en que esteu treballant o simplement voleu connectar amb altres amants de la cultura, feu-nos-ho saber. Estem aquí per donar veu a la vostra creativitat i inspirar-nos mútuament.</p>
			<p>Us convidem a unir-vos a nosaltres en aquest emocionant viatge i a descobrir els inacabables horitzons de la cultura a través de les pàgines de la nostra web. Benvinguts a El somriure de galgo, on la curiositat troba el seu lloc i les fronteres de la imaginació s’esvaeixen.</p>
		</article>
		<div style="margin-top: 2%">
			<a href="/blog">
				<strong>Començar</strong>
			</a>
		</div>
		<div style="margin-top: 2%">
			<a href="mailto:galgo@tuta.io">
				<strong>Envia un correu al Galgo</strong>
			</a>
		</div>
		<footer>
			Desenvolupat per z2rts 2024
		</footer>
	</body>
</html>


<style>
	footer {
		position:fixed; 
		bottom: 2%; 
		left:10%;
	}
	a {
		border: 1px solid black;
	  border-radius: 2px 2px 2px 2px;
	  cursor: pointer;
    box-shadow: 1px 0px 2px 1px #333;
	}
</style>